@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('../fonts/Montauk-Regular.otf');
/* body{
    background: url("../assets/bgtexture.jpg");
} */
.montauk{
    font-family: 'Montauk-Regular';
}
.fugaz{
    font-family: 'Fugaz One';
}




.back {
    background-image: url(../assets/bgtexture.jpg);
    background-repeat: repeat; 
}

.hero {
    font-size: 4rem;
    background-color: white;
    border: 30px;
    text-align: center;
    width: 100%;
  }

  .font1 {
    font-family: FugazOne-Regular;
    font-size: 50px;
    color: #5F002B;
}



footer{
    margin-top: 2rem;
    color: #5F002B;
}
.copyright{
    text-align: end;
}
.company{
    width: 30%;
}
.company2{
    width: 40%;
}
.phoneNumber{
    display: flex;
    align-items: flex-end;
}
.copyright{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.address{
    display: flex;
    align-items: center;
}
.footerP{
    margin: 0;
}
.footerP2{
    margin: 2px;
}


.white {
    background-color: white;
}

.pad1{
    padding: 5px;
}


.font1 {
  
    font-size: 50px;
    color: #5F002B;
}