@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('../fonts/Montauk-Regular.otf');

body{
    background: url("../assets/bgtexture.jpg");
}
.montauk{
    font-family: 'Montauk-Regular';
}
.fugaz{
    font-family: 'Fugaz One';
}
/* Navbar */
.navbar{
    background-image: url("../assets/bgtexture.jpg");
}
.navMain{
    display: flex;
    justify-content: center;
}
.collapse{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.nav-link{
    color: #5F002B;
}

/* Our Menu bar */
.ourMenu{
    color:#5F002B;
    background-color: white;
}

/* Footer */

footer{
    margin-top: 2rem;
    color: #5F002B;
    
}
.footContent{
    margin: 2rem;
}
.copyright{
    text-align: end;
}
.company{
    width: 15%; 
}
.company2{
    width: 40%; 
}
.phoneNumber{
    display: flex;
    align-items: flex-end;
}
.copyright{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.address{
    display: flex;
    align-items: center;
}
.footerP{
    margin: 0;
}
.footerP2{
    margin: 2px;
}